= simple_form_for(@profile, html: { multipart: true }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :username, required: true
    = f.input :first_name, required: true
    = f.input :last_name
    = f.input :title, placeholder: 'Select or type your title...'
    = f.input :phone, required: true
    = f.input :age, required: true, label: "Year of birth"
    - if @profile.avatar?
      = image_tag(@profile.avatar.url(:small), id: "edit-profile-avatar")
      %em Currently uploaded avatar
    = f.input :avatar
    = f.input :address, placeholder: 'New Cairo City, Cairo, Egypt'
    = f.input :university, input_html: { class: "form-control" }
    = f.input :gender, label: 'What is your gender?', collection: [ ['Male', true ], ['Female', false] ], as: :radio_buttons
    = f.input :bio
  .form-actions
    = f.button :submit, class: "btn btn-default btn-lg btn-block"

= render 'autocomplete'
