= simple_form_for(@profile, html: { multipart: true }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :username, required: true
    = f.input :first_name, required: true
    = f.input :last_name
    = f.input :job_title
    = f.input :latitude
    = f.input :longitude

    = f.input :phone, required: true, :input_html => { class:"form-control" }
    %span.hide{:id => "valid-msg"} ✓ Valid
    %span.help-block.hide{:id => "error-msg"} Invalid number

    = f.input :age, required: true, as: :string, class:"form-control"
    = f.select :domain_id, @domains

    .fileinput.fileinput-new{"data-provides" => "fileinput"}
      .fileinput-new.thumbnail{:style => "width: 200px; height: 200px;"}
        - if @profile.avatar?
          = image_tag(@profile.avatar.url, id: "edit-profile-avatar")
        -else
          %img{"src" => "/images/200.gif"}
      .fileinput-preview.fileinput-exists.thumbnail{:style => "max-width: 200px; max-height: 200px;"}
      %div
        %span.btn.btn-default.btn-file
          %span.fileinput-new Select image
          %span.fileinput-exists Change
          = f.file_field :avatar
        %a.btn.btn-default.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"} Remove
    = f.input :address, placeholder: 'New Cairo City, Cairo, Egypt'
    = f.input :university, input_html: { class: "form-control" }
    = f.input :gender, label: 'What is your gender?', collection: [ ['Male', true ], ['Female', false] ], as: :radio_buttons
    = f.input :bio
  .form-actions
    = f.button :submit, class: "btn btn-default btn-lg btn-block"


#status

#edit-map

:scss
  #global-container{
    position:relative;
  }
  #container-1{
    position:relative;
    z-index:1;
  }
  #content-1{
    position:relative;
    z-index:50;
  }
  #container-2{
    position:relative;
    z-index:2;
  }
  #content-2{
    position:relative;
    z-index:2;
  }

:javascript
  $("#profile_address").geocomplete({
    details: "form",
    markerOptions: {
      draggable: true
    }
  });

  $(function () {
    $('#profile_age').datetimepicker({
      viewMode: 'years',
      defaultDate: "01/01/1990",
      format: 'DD/MM/YYYY'
    });
  });

  $('#profile_domain_id').selectize();

  var telInput = $("#profile_phone"),
      errorMsg = $("#error-msg"),
      validMsg = $("#valid-msg");

  // initialise plugin
  telInput.intlTelInput({
    nationalMode: true,
    defaultCountry: "auto",
    utilsScript: "/javascripts/utils.js"
  });

  // on blur: validate
  telInput.blur(function() {
    if ($.trim(telInput.val())) {
      if (telInput.intlTelInput("isValidNumber")) {
        validMsg.removeClass("hide");
      } else {
        $(".intl-tel-input").addClass("has-error");
        errorMsg.removeClass("hide");
        validMsg.addClass("hide");
      }
    }
  });

  // on keydown: reset
  telInput.keydown(function() {
    telInput.removeClass("has-error");
    errorMsg.addClass("hide");
    validMsg.addClass("hide");
  });


  function onGeoSuccess(location) {
    (function(window, google, mapster) {
      var options = mapster.profile_map;
      element = document.getElementById("edit-map");
      map = new google.maps.Map(element, options);
      map.setCenter(new google.maps.LatLng(location.coords.latitude, location.coords.longitude));
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(location.coords.latitude, location.coords.longitude),
        map: map,
        icon: '/images/red_marker.png',
        title: "0000"
      });
    }(window, google, window.Mapster || (window.Mapster = {})));
  }
  //The callback function executed when the location could not be fetched.
  function onGeoError(error) {
    console.log(error);
  }

  window.onload = function () {
    //geolocator.locateByIP(onGeoSuccess, onGeoError, 2, 'map-canvas');
    var html5Options = { enableHighAccuracy: true, timeout: 6000, maximumAge: 0 };
    geolocator.locate(onGeoSuccess, onGeoError, true, html5Options);
  };
