= simple_form_for(@profile, validate: true, html: { multipart: true }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :username, required: true, uniqueness: true
    = f.input :first_name, required: true
    = f.input :last_name
    = f.input :title, placeholder: 'Select or type your title...'
    = f.input :phone, hint: 'Private', required: true, uniqueness: true
    = f.input :address, placeholder: 'New Cairo City, Cairo, Egypt'

    = f.simple_fields_for :user, validate: true, required: true do |o|
      = o.input :email, required: true, uniqueness: true
      = o.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable)
      = o.input :password_confirmation, required: true

    = f.input :age, required: true, label: "Year of birth", placeholder: "1990", size: "4"
    = f.input :avatar
    = f.input :university, input_html: { class: "form-control" }
    = f.input :gender, label: 'What is your gender?', collection: [ ['Male', true ], ['Female', false] ], as: :radio_buttons, :checked => true, required: true
  .form-actions
    = f.button :submit,"Sign Up", class: "btn btn-success btn-lg btn-block"

=# render 'autocomplete'
