- title "Sign up"

= simple_form_for(@profile, validate: true, html: { multipart: true}) do |f|
  %a.btn.btn-lg.btn-block.btn-facebook-inversed{:href => "/users/auth/facebook"}
    %i.ion-social-facebook
    Sign Up with Facebook

  .via
    %p.text-center or via email
  = f.error_notification
  .form-inputs
    = f.input :username, required: true, uniqueness: true, label: false, placeholder: "Username", input_html: { class: "input-lg"}
    = f.simple_fields_for :user, validate: true, required: true do |o|
      = o.input :email, required: true, uniqueness: true, placeholder: "Email address", label: false, input_html: { class: "input-lg"}
      = o.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable), placeholder: "Password", label: false, input_html: { class: "input-lg"}
      = o.input :password_confirmation, required: true, placeholder: "Password confirmation", label: false, input_html: { class: "input-lg"}
  .form-actions
    = f.button :submit,"Sign Up", class: "btn btn-itunes-inversed btn-lg btn-block"


:javascript
  $("#profile_address").geocomplete({
    details: "form",
    markerOptions: {
      draggable: true
    }
  });
