- title "Edit Linked Accounts"

.row
  .col-md-3
    = render 'layouts/setting_nav'

  .col-md-9
    .panel.panel-default
      .panel-heading Linked Accounts
      = render 'layouts/messages'
      .panel-body#panel-body
        = simple_form_for(@profile) do |f|
          = f.error_notification
          .form-inputs
            = f.input :facebook, as: :url, hint: "i.e. https://fb.com/YOUR_ID"
            = f.input :twitter, as: :url, hint: "i.e. https://twitter.com/YOUR_ID"
            = f.input :github, as: :url, hint: "i.e. https://github.com/YOUR_ID"
            = f.input :linkedin, as: :url, hint: "i.e. http://www.linkedin.com/profile/view?id=YOUR_ID"
            %br

          .form-actions
            = f.button :submit, "Update", class: "btn btn-itunes-inversed btn-lg btn-block"
            %br
