- title @profile.name
- description @profile.bio
- keywords @profile.skills.map(&:name) + %w[geek pair programming]
= display_meta_tags :og => {title: @profile.name, type: 'profile', image: @profile.avatar.url, url: request.original_url}

#profile-top
  #profile-map
  .profile-head
    %h2.profile-name= @profile.name.capitalize
    .bar
    .profile-image-box
      .image_wrapper
        = image_tag @profile.avatar.url(:original), class: "profile_img"
.row
  .col-md-10.col-md-offset-1.box
    %h3 About
    %hr
    - if @profile.age.present?
      %b Age:
      %p= "#{Date.today.strftime("%Y").to_i - @profile.age.to_i} years old."
      %br
      %br
    - if @profile.gender.present?
      %b Gender:
      %p= @profile.gender ? "Male" : "Female"
      %br
      %br
    - if @profile.bio.present?
      %b Bio:
      %p= @profile.bio
.row
  .col-md-10.col-md-offset-1.box
    %h3 Work and Education
    %hr
    - if @profile.university.present?
      %b University:
      %p= @profile.university
      %br
      %br
    - if @profile.job_title.present?
      %b Job Title:
      %p= @profile.job_title
      %br
      %br
    - if @profile.job_company.present?
      %b Company:
      %p= @profile.job_company
      %br
      %br
    - if @profile.job_details.present?
      %b Job Details:
      %p= @profile.job_details
.row
  .col-md-10.col-md-offset-1.box
    %h3 Contact information
    %hr
    %b Email:
    %p= mail_to @profile.user.email
    %br
    %br
    - if @profile.phone.present?
      %b Phone:
      %p= @profile.phone
      %br
      %br
    - if @profile.address.present?
      %b Address:
      %address= @profile.address
      %br
      %br
    - if @profile.facebook.present? || @profile.github.present? || @profile.twitter.present? || @profile.linkedin.present?
      %b Linked Accounts:
      %br
      %br
      .linked_accounts
        - if @profile.facebook.present?
          = link_to "#{@profile.facebook}", :class => "btn btn-facebook", target: "_blank" do
            %span.ion-social-facebook

        - if @profile.github.present?
          = link_to "#{@profile.github}", :class => "btn btn-github", target: "_blank" do
            %span.ion-social-github

        - if @profile.twitter.present?
          = link_to "#{@profile.twitter}", :class => "btn btn-twitter", target: "_blank" do
            %span.ion-social-twitter

        - if @profile.linkedin.present?
          = link_to "#{@profile.linkedin}", :class => "btn btn-linkedin", target: "_blank" do
            %span.ion-social-linkedin

.row
  .col-md-10.col-md-offset-1.box
    %h3 Skills & Expertises
    %hr
    - if @profile.domain.present?
      %b Domain (Area of expertise):
      %p= link_to @profile.domain.name, search_path(qdomain: @profile.domain)
      %br
      %br
    - @profile.profile_skills.order(primary: :desc).each do |s|
      %blockquote{class: "quote-#{s.primary.to_s}"}
        .skill-name
          %p.name= link_to s.skill.name, search_path(qskills: s.skill.name)
          %p.experience_years= " - #{s.experience_years.to_s} years experience" if s.experience_years.to_i > 0
        %p= s.description


:scss
  p, d, address{
    display: inline;
  }
  .btn{
    margin-right: 5px;
  }

:javascript
  var profile = #{@profile.to_json};

  (function(window, google, mapster) {
    var options = mapster.profile_map;
    element = document.getElementById("profile-map");
    map = new google.maps.Map(element, options);
    map.setCenter(new google.maps.LatLng(profile.latitude,profile.longitude));
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(profile.latitude,profile.longitude),
      map: map,
      icon: '/images/red_marker.png',
      title: profile.first_name + " " + profile.last_name
    });
  }(window, google, window.Mapster || (window.Mapster = {})));
