- title @profile.name
- description @profile.bio
- keywords @profile.skills.pluck(:name)
= display_meta_tags :og => {title: @profile.name, type: 'profile', image: @profile.avatar.url, url: request.original_url}

#profile-top
  #profile-map
  .profile-head
    %h2.profile-name= @profile.name.capitalize
    .bar
      / %ul.nav
      /   %li#about
      /     %a{:href => "#"}
      /       %span ABOUT
      /       %br/
      /       %p ......
      /   %li#pair
      /     %a{:href => "#"}
      /       %span PAIRED WITH
      /       %br/
      /       %p 13
      /   %li
      /     %a{:href => "#"}
      /       %span PAIRED WITH
      /       %br/
      /       %p 104
    .profile-image-box
      .image_wrapper
        = image_tag @profile.avatar.url(:original), class: "profile_img"
#profile-main
  / .col-md-2.box
  .col-md-10.col-md-offset-1.box#profile-content
    = render 'about'

:javascript
  var profile = #{@profile.to_json};

  $( "#about" ).click(function() {
    $(document).find('#in').remove();
    $('#profile-content').prepend('#{j render "about", :object => @profile}');
    $("html, body").animate({ scrollTop: 160 }, 1);
  });

  $( "#pair" ).click(function() {
    $(document).find('#in').remove();
    $('#profile-content').prepend('#{j render "pair", :object => @profile}');
    $("html, body").animate({ scrollTop: 160 }, 1);
  });

  (function(window, google, mapster) {
    var options = mapster.profile_map;
    element = document.getElementById("profile-map");
    map = new google.maps.Map(element, options);
    map.setCenter(new google.maps.LatLng(profile.latitude,profile.longitude));
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(profile.latitude,profile.longitude),
      map: map,
      icon: '/images/red_marker.png',
      title: profile.first_name + " " + profile.last_name
    });
  }(window, google, window.Mapster || (window.Mapster = {})));
