- title "Edit Work and Education"
.row
  .col-md-3
    = render 'layouts/setting_nav'

  .col-md-9
    .panel.panel-default
      .panel-heading Work and Education
      = render 'layouts/messages'
      .panel-body#panel-body
        = simple_form_for(@profile) do |f|
          = f.error_notification
          = f.input :university, input_html: { class: "form-control" }
          = f.input :job_title
          = f.input :job_company
          = f.input :job_details, as: :text, placeholder: "Please provide more details about your role."
          %br
          .form-actions
            = f.button :submit, class: "btn btn-itunes-inversed btn-lg btn-block"
          %br

:javascript

  $('#profile_university').selectize({
    maxItems: 1,
    persist: false,
    valueField: 'name',
    labelField: 'name',
    searchField: 'name',
    options: [],
    create: true,
    render: {
      option: function(item, escape) {
        var actors = [];
        for (var i = 0, n = item.length; i < n; i++) {
          actors.push('<span>' + escape(item.autocompletes[i].name) + '</span>');
        }

        return '<div>' +
                  '<span class="name">' + escape(item.name) + '</span>' +
               '</div>';
      }
    },
    load: function(query, callback) {
      if (!query.length) return callback();
      $.ajax({
        url: '/autocompletes/university.json',
        type: 'GET',
        dataType: 'json',
        data: {
          q: query,
        },
        error: function() {
          callback();
        },
        success: function(res) {
          callback(res.autocompletes);
        }
      });
    }
  });
