%li.has-hover.search-item-box{id: "#{profile.id}"}
  = link_to image_tag(profile.avatar.url(:small), class: "item-img", title: "#{profile.name}"), show_profile_path(profile.username)
  .pait-btn
    - if user_signed_in?
      = link_to new_pair_path(navigator_id: profile.id), :class => "btn btn-itunes", :type => "button", "data-target" => "#pairModal", "data-toggle" => "modal", "data-navigator-name" => "#{profile.first_name}", "data-navigator_id" => "#{profile.id}", :remote => true do
        %span.ion-code-working
        PAIR


  .info
    .name
      = link_to profile.name, show_profile_path(profile.username)
      .username= "@#{profile.username}"
    .title= profile.title
    .hidden-xs.bio= profile.bio
    = render partial: "profile_skills_search", collection: profile.skills, as: :skill
