%li.has-hover.search-item-box{id: "#{profile.id}"}
  .box-top
    .info
      = link_to image_tag(profile.avatar.url(:thumb), class: "item-img", title: "#{profile.name}"), show_profile_path(profile.username)
      .name
        = link_to profile.name, show_profile_path(profile.username)
      .title
        - if profile.job_company.present?
          = "#{profile.job_title}" + " at #{profile.job_company}"
        - else
          = "#{profile.job_title}"

      .domain
        -if profile.domain.present?
          = link_to profile.domain.name, search_path(qdomain: profile.domain)
          specialist

    .linked_accounts-btn
      -if user_signed_in?
        - if profile.facebook.present?
          = link_to "#{profile.facebook}", :class => "btn btn-facebook", target: "_blank" do
            %span.ion-social-facebook

        - if profile.github.present?
          = link_to "#{profile.github}", :class => "btn btn-github", target: "_blank" do
            %span.ion-social-github

        - if profile.twitter.present?
          = link_to "#{profile.twitter}", :class => "btn btn-twitter", target: "_blank" do
            %span.ion-social-twitter

        - if profile.linkedin.present?
          = link_to "#{profile.linkedin}", :class => "btn btn-linkedin", target: "_blank" do
            %span.ion-social-linkedin
      -else
        - if profile.facebook.present?
          = link_to "#{signup_path}", :class => "btn btn-facebook", target: "_blank" do
            %span.ion-social-facebook

        - if profile.github.present?
          = link_to "#{signup_path}", :class => "btn btn-github", target: "_blank" do
            %span.ion-social-github

        - if profile.twitter.present?
          = link_to "#{signup_path}", :class => "btn btn-twitter", target: "_blank" do
            %span.ion-social-twitter

        - if profile.linkedin.present?
          = link_to "#{signup_path}", :class => "btn btn-linkedin", target: "_blank" do
            %span.ion-social-linkedin
    -if user_signed_in?
      .upvote
        - if current_user.profile.liked? profile
          = link_to like_profile_path(profile.username),remote: true , method: :put, class: "btn dislike-btn", id: "like-#{profile.id}" do
            .ion-arrow-up-b
            %span{id: "like-count-#{profile.id}"}= profile.cached_votes_up
        - else
          = link_to like_profile_path(profile.username),remote: true , method: :put, class: "btn like-btn", id: "like-#{profile.id}" do
            .ion-arrow-up-b
            %span{id: "like-count-#{profile.id}"}= profile.cached_votes_up
    - else
      .upvote
        = link_to "#",remote: true , class: "btn like-btn", id: "like-#{profile.id}" do
          .ion-arrow-up-b
          %span{id: "like-count-#{profile.id}"}= profile.cached_votes_up

  .bio
    = profile.bio
  #box-skills
    = render partial: "profile_skills_search", collection: profile.profile_skills.order(primary: :desc).limit(12), as: :skill
