%li.has-hover.search-item-box{id: "#{profile.id}"}
  = link_to image_tag(profile.avatar.url(:small), class: "item-img", title: "#{profile.name}"), show_profile_path(profile.username)
  .pait-btn
    - if user_signed_in?
      / %a{:href => "#{new_pair_path(navigator_id: profile.id)}" , :type => "button", "data-target" => "#exampleModal", "data-toggle" => "modal", "data-navigator-name" => "#{profile.name}", "data-navigator_id" => "#{profile.id}", :class => "btn btn-itunes"}
      /   %span.ion-code-working
      /   PAIR
      = link_to "PAIR", new_pair_path(navigator_id: profile.id), :class => "btn btn-itunes"

  .info
    .name
      = link_to profile.name, show_profile_path(profile.username)
      .username= "@#{profile.username}"
    .title= profile.title
    .hidden-xs.bio= profile.bio
    = render partial: "profile_skills_search", collection: profile.skills, as: :skill
