.row
  .search-items
    = render 'layouts/messages'
    .search-filter
      - if params[:location_address] != ""; @loc = "near #{params[:location_address]}" end
      %p= "#{params[:skill_search]} Geeks " + "#{@loc}"
    .items-list
      %lu.list-unstyled
        = render partial: "profile_search", collection: @search, as: :profile
    = paginate @search
  .side-map
    #search-map


:javascript
  var obj = #{@search.to_json};
  
  $(".search-items li").click(function() {
    $("li").addClass('has-hover');
    $("li").removeClass("active");
    $(this).addClass( "active" );
    $(this).removeClass('has-hover');
  });

  (function(window, google, mapster) {

    var options = mapster.search_map,
    element = document.getElementById("search-map"),
    map = new google.maps.Map(element, options);

    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(37.791350,-122.435883),
      map: map,
      icon: '/images/geek_marker.png',
      title: "name"
    });
  }(window, google, window.Mapster || (window.Mapster = {})));
