#pair_form
  = simple_form_for(@pair, remote: true, html: { multipart: true }) do |f|
    = f.error_notification
    .form-inputs
      = f.input :pair_date, as: :string, class:"form-control", placeholder: 'Pair date time --cant be blank', label: false
      = f.input :pair_time, as: :string, label: false, placeholder: 'minimum time for pairing in minutes --cant be blank'
      = f.input :address, label: false, placeholder: 'Pair location ex. madinet nasr, cairo, egypt', hint: ("can't be blank if you want to pair offline.")
      = f.input :address_details, label: false, placeholder: 'Location details ex. cowork space, coffee shop'
      = f.input :details, label: false, placeholder: 'What was the request about? (Markdown supported)', required: true, hint: ("can't be blank or less than 20 characters.")
      = f.input :type, label: "Online"
      = f.input :hangout_url, placeholder: 'ex. google hangout url, skayp id', label: false, hint: ("can't be blank if you want to pair online.")
    .modal-footer
      .form-actions
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        = f.button :submit, 'Edit request', class: "btn btn-primary"

:javascript 
  $("#pair_address").geocomplete({
    details: "form",
    markerOptions: {
      draggable: true
    }
  });

  $(function () {
    $('#pair_pair_date').datetimepicker({
      format: "DD MM YY hh:mm A"
    }).val(#{@pair.pair_date});
  });

  $(document).ready(function() {
    $('#pair_type').change(function() {
      if($(this).is(":checked")) {
        $('#pair_hangout_url').prop('disabled', false);
        $('#pair_address').val('');
        $('#pair_address').prop('disabled', true);
        $('#pair_address_details').prop('disabled', true);
        $('#pair_address_details').val('');
      } else {
        $('#pair_hangout_url').prop('disabled', true);
        $('#pair_address_details').prop('disabled', false);
        $('#pair_address').prop('disabled', false);
        $('#pair_hangout_url').val('');
      }
    });
  });
