.nested-fields.project-tag-fields
  #tag_from_list
    = f.input :skill_name, label: "Skill Name", hint: "Programming language or framework (e.g. python, ruby on rails)"
    = f.input :experience_years, as: :integer, label: "Experience (years)"
    = f.input :description, as: :text, label: "Tell us more about your experiences in this skill"
    = f.input :primary, as: :boolean
    = link_to_remove_association "Remove Skill", f, class: "btn btn-itunes-inversed"
    %hr

:scss
  main, body, html{
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

:javascript

  $('[id$=skill_name]').selectize({
    maxItems: 1,
    valueField: 'name',
    labelField: 'name',
    searchField: 'name',
    create: true,
    render: {
      option: function(item, escape) {
        var actors = [];
        for (var i = 0, n = item.length; i < n; i++) {
          actors.push('<span>' + escape(item.autocompletes[i].name) + '</span>');
        }

        return '<div>' +
                  '<span class="name">' + escape(item.name) + '</span>' +
               '</div>';
      }
    },
    load: function(query, callback) {
      if (!query.length) return callback();
      $.ajax({
        url: '/autocompletes/skill.json',
        type: 'GET',
        dataType: 'json',
        data: {
          q: query,
        },
        error: function() {
          callback();
        },
        success: function(res) {
          callback(res.autocompletes);
        }
      });
    }
  });
